body {
  background-color: pink;
}

/* @font-face {
  font-family: "webfont";
  font-display: swap;
  src: url("../font/webfont.woff") format("woff2");
} */

div {
  /* font-family: "webfont" !important; */
  height: 300px;
  border: 1px solid green;
  background: url("../assets/img1.jpeg") center no-repeat;
}

#app {
  position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}