body {
  background-color: pink;
}

/* @font-face {
  font-family: "webfont";
  font-display: swap;
  src: url("../font/webfont.woff") format("woff2");
} */

div {
  /* font-family: "webfont" !important; */
  height: 300px;
  border: 1px solid green;
  background: url("../assets/img1.jpeg") center no-repeat;
}
